/* Global settings */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    max-width: 900px;
}

/* Hide the vue component till it loads */
[v-cloak] {
    display: none;
}

/* Table formatting */
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    padding: 5px 5px;
    border: 1px solid #ddd;
}

td {
    cursor: pointer;
}
/* Prepare the menu */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ddd;
  overflow: hidden;
}
header li {
    float: left;
}
header li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #ccc;
    color: #000;
}
header li a:hover {
    background-color: #aaa;
}
/* main */
main {
    display: grid;
    grid-row-gap: 0.5rem;
    padding: 1rem;
}
/* create bin */
#create-bin {
    display: grid;
    grid-row-gap: 0.5rem;
    grid-auto-rows: 2.5rem auto 2.5rem 2.5rem;
    height: 400px;
    min-width: 200px;

}

::placeholder {
    color: #ccc;
}
#bin-title, .input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
}
#bin-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #ddd;
}
#createBinB, #clearBinB, .pagination {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
}
#createBinB:hover, #clearBinB:hover, .pagination:hover {
    color: #000;
    border: 1px solid #000;
}

#binMessage {
    padding: 0.5rem;
    color: #999;
}

/* show-bins */
#show-nav {
    padding: 5px 0;
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: auto auto auto;
}
