body {
  margin: 0 auto;
  padding: 0;
  max-width: 980px;
}
.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

.header-nav li {
  float: left;
}

.header-nav li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-nav li a:hover {
  background-color: #eee;
}