<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/materialize.css}"/>
    <title>List</title>
</head>
<body>
<header>
    <nav class="header-nav">
        <div class="nav-wrapper purple darken-3">
            <a href="#" th:href="@{/}" class="brand-logo">Pastebin</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" th:href="@{/list}">List</a></li>
                <li><a href="#" th:href="@{/}">About</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div id="search">
            <section>
                <div class="row">
                    <div class="col s12">
                        <div class="card z-depth-4">
                            <div class="card-content">
                                <input type="text" v-model="message" v-on:keyup="findIt" autofocus>

                                <ul class="pagination">
                                    <li>
                                        <a href="#" v-on:click="prevOne"
                                           class="purple darken-3 purple-text text-lighten-5">Prev</a>
                                    </li>
                                    <li>
                                        <a href="#" v-on:click="nextOne"
                                           class="purple darken-3 purple-text text-lighten-5">Next</a>
                                    </li>
                                </ul>

                                <div v-cloak class="collection">
                                    <div v-for="bin in bins">
                                        <a v-bind:href="bin.id" class="collection-item"><span class="badge">{{ new Date(bin.createdAt).toLocaleString() }}</span>
                                            {{ bin.title }}</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</main>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/list.js}"></script>
</body>
</html>